*{
    padding: 0%;
    margin: 0%;
    background-color: rgb(169, 223, 88);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.header{
    border : 5px solid orangered;
    width: 80%;
    height: 10%;
    margin :20px 0px 20px 120px;
}
.header_p{
    font-size:40px;
    color: orangered;
    background-color: aliceblue;
    padding: 5px;
    text-align: center;
}
.book1{
    width: 80%;
    height: 230px;
    border : 5px solid orangered;
    margin-top: 20px;
    margin :20px 0px 20px 120px;
    display: flex;
}
.book1_img{
    width: 200px;
    height: 200px;
    padding-left: 350px;
    padding-top: 30px;
    background-color: white;

}
.book1_c1 {
    background-color: white;
    padding: 30px 0px 0px 30px ;
}
.book1_c1  > p {
    background-color: white;
}
.book1_c1  > h5{
    background-color: white;
}
.book1_c1  > h3{
    background-color: white;
}
.book_name{
    font-style: italic;
    color: orangered;
    font-size: 20px;
    width: 500px;
}
.book2_img{
    padding-left: 387px;
    background-color: white;
    padding-top: 20px;
    padding-bottom: 10px;
    padding-right: 10px;
    
}
.book3_img{
    padding-left:103px;
    padding-top: 20px;
    padding-bottom: 30px;
    padding-right: 10px;
    background-color: white;
}
#blue{
    color: blue;
}
#blue3{
    color: blue;
    width: 800px;
}